extends layout

block content
    h1= title
    form(name="adduser",method="post",action="/adduser")
        input(type="text", placeholder="username", name="username")
        input(type="text", placeholder="useremail", name="useremail")
        button(type="submit") submit
